page-game-record {

  .my-table{
    padding: 0;
  }
  .my-table .my-cell{
    padding: 7px 4px;
  }
  .start-col{
    width: 21% !important;
  }
  .mid-col{
    width: 30% !important;
  }
  .end-col{
    width: 19% !important;
  }





}
