<div class="history-wrap">
  <ul class="history-table">
    <li>
      <div>期次</div>
      <div>开奖号码</div>
      <div>十位</div>
      <div>个位</div>
    </li>
    <li>
      <div>041期</div>
      <div>正在开奖02:34截止</div>
      <div>- -</div>
      <div>- -</div>
    </li>
    <li>
      <div>056期</div>
      <div>
        <div class="history-number">
          <i class="number-white number-green">2</i><i class="number-white number-green">2</i><i class="number-white number-green">2</i><i class="number-white number-green">2</i><i class="number-white number-green">2</i>
        </div>
      </div>
      <div>小双</div>
      <div>大单</div>
    </li>
    <li>
      <div>028期</div>
      <div>
        <div class="history-number">
          <i class="number-white">2</i><i class="number-white">2</i><i class="number-white">2</i><i class="number-white">2</i><i class="number-white">2</i>
        </div>
      </div>
      <div>小双</div>
      <div>大单</div>
    </li>
    <li>
      <div>028期</div>
      <div>
        <div class="history-number">
          <i class="number-white">2</i><i class="number-white">2</i><i class="number-white">2</i><i class="number-white">2</i><i class="number-white">2</i>
        </div>
      </div>
      <div>小双</div>
      <div>大单</div>
    </li>
    <li>
      <div>028期</div>
      <div>
        <div class="history-number">
          <i class="number-white">2</i><i class="number-white">2</i><i class="number-white">2</i><i class="number-white">2</i><i class="number-white">2</i>
        </div>
      </div>
      <div>小双</div>
      <div>大单</div>
    </li>
    <li>
      <div>028期</div>
      <div>
        <div class="history-number">
          <i class="number-white">2</i><i class="number-white">2</i><i class="number-white">2</i><i class="number-white">2</i><i class="number-white">2</i>
        </div>
      </div>
      <div>小双</div>
      <div>大单</div>
    </li>
    <li>
      <div>028期</div>
      <div>
        <div class="history-number">
          <i class="number-white">2</i><i class="number-white">2</i><i class="number-white">2</i><i class="number-white">2</i><i class="number-white">2</i>
        </div>
      </div>
      <div>小双</div>
      <div>大单</div>
    </li>
    <li>
      <div>028期</div>
      <div>
        <div class="history-number">
          <i class="number-white">2</i><i class="number-white">2</i><i class="number-white">2</i><i class="number-white">2</i><i class="number-white">2</i>
        </div>
      </div>
      <div>小双</div>
      <div>大单</div>
    </li>
    <li>
      <div>028期</div>
      <div>
        <div class="history-number">
          <i class="number-white">2</i><i class="number-white">2</i><i class="number-white">2</i><i class="number-white">2</i><i class="number-white">2</i>
        </div>
      </div>
      <div>小双</div>
      <div>大单</div>
    </li>
  </ul>
</div>
