global-banner {
  .left-border {
    color: white;
    padding-right: 6px;
    line-height: 28px;
    a {
      padding: 0 5px;
      color: $white;
    }
    span {
      color: #606060;
    }
  }
}
