page-recharge {
  .choice-bank {
    background: #fff;
    text-align: center;
    line-height: 46px;
    font-size: 1.6rem;
  }
  .we-chat {
    text-align: center;
    margin: 12px;
    .we-chat-img {
      background: #fff;
      border-radius: 4px;
      padding: 5px 20px;
    }
    .zhifubao {
      padding: 10px 20px;
    }
  }
}
